*.a
*.o
*.lib
*.framework
*.perspectivev3
sdk-build/
build/
*.pbxuser
*.mode1v3
xcuserdata
*.xcworkspace
*.tm_build_errors
*.ncb
*.suo
*.vcproj.*
*.wwdb
*.user
*.sdf
sysbuild/
Debug/
Release/
*-temp/
*.tm_build_errors
build_timestamp.h
*.orig
__*
enc_temp_folder
build.sh
.DS_Store
*.opensdf
*.sln
*.ipch